[submodule "production-planner-frontend"]
	path = production-planner-frontend
	url = https://github.com/Avrooid/production-planner-frontend
[submodule "production-planner-backend"]
	path = production-planner-backend
	url = https://github.com/Krayseer/production-planner-backend
